    <!-- GLOBAL BOTTOM NAV BAR -->
    <nav class="bottom-nav absolute bottom-0 left-0 right-0 w-full z-50 hidden" id="main-bottom-nav">
        <div id="nav-item-home" class="nav-item active" onclick="showHomeTab()">
            <span class="material-symbols-outlined" id="nav-icon-home" style="font-variation-settings: 'FILL' 1;">home</span>
            <span>Trang Chủ</span>
        </div>
        <div id="nav-item-profile" class="nav-item" onclick="showProfileTab()">
            <span class="material-symbols-outlined">account_circle</span>
            <span>Hồ Sơ</span>
        </div>
        <div id="nav-item-village" class="nav-item" onclick="showVillageTab()">
            <span class="material-symbols-outlined" id="nav-icon-village">park</span>
            <span>Làng</span>
        </div>
    </nav>
