    <!-- GLOBAL BOTTOM NAV BAR -->
    <nav class="bottom-nav fixed bottom-0 left-0 right-0 w-full max-w-xl mx-auto z-50 hidden" id="main-bottom-nav">
        <div id="nav-item-home" class="nav-item active" onclick="showHomeTab()">
            <span class="material-symbols-outlined" id="nav-icon-home" style="font-variation-settings: 'FILL' 1;">map</span>
            <span>Làng</span>
        </div>
        <div id="nav-item-profile" class="nav-item" onclick="showProfileTab()">
            <span class="material-symbols-outlined" id="nav-icon-profile">cottage</span>
            <span>Nhà</span>
        </div>
        <div id="nav-item-village" class="nav-item" onclick="showVillageTab()">
            <span class="material-symbols-outlined" id="nav-icon-village">groups</span>
            <span>Quảng Trường</span>
        </div>
    </nav>
